*{
background-color: lightgreen;

}

h2{
background-color: rgb(179, 179, 194);
border-style: solid;
padding: 5px;


}

{
    
}

img{
    background: linear-gradient(green,white,blue) ;
    border-style:double;
    border-width: 15px; 
}
h4{
    background-color: white;
}
h5{
    font-style: oblique;
    font-size: larger;
}
h6{
    font-size: larger;
}
button{
    background-color: rgba(231, 47, 47, 0.801);
}

